/*font-family: 'Roboto', sans-serif;
font-family: 'Staatliches', cursive;*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ccbcbc;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  overflow: hidden;
}

body p {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

h1 {
  margin-top: 20px;
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 60px;
  letter-spacing: 3px;
  font-weight: bold;
  text-shadow: 0px -3px 3px rgba(0, 0, 0, 0.157);
}

/* jeu content*/
.jeu-content {
  padding: 20px 30px;
  margin: auto;
  height: 350px;
  width: 450px;
  position: relative;
}

.jeu-content .figure-content {
  stroke: black;
  stroke-width: 4px;
  stroke-linecap: round;
  fill: transparent;
}

.jeu-content .figure-content .figure-part {
  display: none;
}

.jeu-content .bad-letters-content {
  position: absolute;
  top: 10px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.jeu-content .bad-letters-content p {
  margin: 0 0 5px;
  font-size: 25px;
  letter-spacing: 2px;
}

.jeu-content .bad-letters-content span {
  font-size: 20px;
  color: red;
}

.jeu-content .word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 20px;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.jeu-content .word .letters {
  border-bottom: 2px solid black;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 2px;
  width: 20px;
  font-family: "Staatliches", cursive;
}

/*popup*/
.popup-content {
  background-color: rgba(0, 0, 0, 0.479);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-content .winner {
  background: rgba(0, 0, 0, 0.192);
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.192);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.192);
  padding: 30px;
  text-align: center;
}

.popup-content .winner button {
  background: white;
  cursor: pointer;
  border: 0;
  margin-top: 10px;
  padding: 10px 40px;
  font-size: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.192);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.192);
}

.popup-content .winner button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popup-content .winner button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* keyboard button */
.keyboard {
  text-align: center;
  margin-top: 20px;
}

.keyboard .input_keyboard {
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  background: #443e3e;
  border: none;
  margin: 2px 1px;
  text-transform: uppercase;
}

.keyboard .input_keyboard:active {
  background-color: black;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.notif-content {
  background-color: rgba(0, 0, 0, 0.192);
  border-radius: 5px 5px 0px 0px;
  padding: 10px 60px;
  position: absolute;
  bottom: -120px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.affiche {
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
}

/* mobile */
@media screen and (max-width: 767.98px) {
  .keyboard {
    text-align: center;
    margin-top: 20px;
    width: 80%;
  }
  .notif-content {
    bottom: -190px;
  }
  .affiche {
    -webkit-transform: translateY(-190px);
            transform: translateY(-190px);
  }
}

/* desktop */
@media screen and (min-width: 760px) {
  .keyboard {
    text-align: center;
    margin-top: 20px;
    width: 40%;
  }
}
/*# sourceMappingURL=style.css.map */